// Mixins in here

.navFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button (@font-size, @color, @padding, @bg-color, @width, @radius) {
    font-size: @font-size;
    color: @color;
    padding: @padding;
    background: @bg-color;
    width: @width;
    border-radius: @radius;
}